namespace                                = "MyNewNamespace"
vault_addr                               = "https://vault.mydomain.com:8200"
vault_token                              = "vaulttoken.ijasdiawoskjnasdokijbnasd"
ldap_auth_engine_bindpass                = "MyLDAPBindUserPassword"